/.vagrant/
*.retry
secrets.yml
secrets.yaml
/ansible/roles/*
!/ansible/roles/server
!/ansible/roles/python36
!/ansible/roles/duckdns
!/ansible/roles/configure-hass
/data/config/security-zones.yaml
notes.md
